name: Build and Release

on:
  release:
    types: [published]

jobs:
  build:
    name: Build and sign app
    permissions:
      contents: write
    runs-on: macos-latest
    environment: main
    env:
      projname: "Sentry"

    steps:
      - uses: actions/checkout@v4
      - name: Install create-dmg
        run: brew install create-dmg

      - name: Resolve Swift packages
        run: xcodebuild -resolvePackageDependencies -project ${{ env.projname }}.xcodeproj

      - name: Install Apple certificate
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          CERT_PATH=$RUNNER_TEMP/build_certificate.p12
          KC=$RUNNER_TEMP/app-signing.keychain-db
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode > "$CERT_PATH"
          security create-keychain -p "$KEYCHAIN_PASSWORD" "$KC"
          security set-keychain-settings -lut 21600 "$KC"
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" "$KC"
          security import "$CERT_PATH" -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k "$KC"
          security list-keychain -d user -s "$KC"
          security find-identity -v -p codesigning

      - name: Build with Xcode
        run: xcodebuild -version

      - name: Build and archive
        run: |
          xcodebuild clean archive \
            -project ${{ env.projname }}.xcodeproj \
            -scheme ${{ env.projname }} \
            -archivePath ${{ env.projname }} \
            -destination "generic/platform=macOS" \
            ONLY_ACTIVE_ARCH=NO \
            -allowProvisioningUpdates

      - name: Export app
        run: |
          xcodebuild -exportArchive -archivePath "${{ env.projname }}.xcarchive" -exportPath Release -exportOptionsPlist ".github/exportOptions.plist"

      - name: Create DMG
        run: |
          create-dmg \
            --volname "Sentry Installer" \
            --window-pos 200 120 \
            --window-size 800 400 \
            --background ".github/res/Installer-Background.png" \
            --icon-size 128 \
            --icon "Sentry.app" 200 185 \
            --hide-extension "Sentry.app" \
            --app-drop-link 600 185 \
            "Sentry-${{ github.ref_name }}.dmg" \
            "Release/Sentry.app"

      - name: VirusTotal Scan
        uses: cssnr/virustotal-action@v1
        with:
          vt_api_key: ${{ secrets.VT_API_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          file_globs: |
            Sentry-${{ github.ref_name }}.dmg
          update_release: true
          release_heading: '### VirusTotal Analysis'

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./Sentry-${{ github.ref_name }}.dmg
          asset_name: Sentry-${{ github.ref_name }}.dmg
          asset_content_type: application/x-apple-diskimage
